div.container-fluid
    div.row
        div.col-lg-12.col-md-12#navbarContainer()
            nav.navbar.navbar-expand-lg.navbar-dark.bg-dark()
                a.navbar-brand(href='/') Control
                ul.navbar-nav()
                    li.nav-item 
                        a.nav-link(href='/', class= indexActive) Home 
                    li.nav-item 
                        a.nav-link(href='/documentation', class= docsActive) Docs


